*{
    margin : 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.god-container {
    width: 50%;
    min-width: 980px;
    margin: 0 auto;
    height: 100vh;
    /* background-color: rgba(113, 126, 143, .05); */
}

/* upper list */
.list1  a{
    text-decoration: none;
    color : rgb(113, 126, 143);
}

.list1 a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
}

.list1 li {
    display:inline-block;
    padding: 0 5px;    
    border-right: 1px solid rgba(113, 126, 143, .20);
}

.list1 li:last-child{
    margin-right: 10px;
    border-right: 0;

}

.upper-list{
    /* border: 1px solid red; */
    font-size: 14px;
    text-align: right;
    padding: 10px 5px;   
    border-bottom: 1px solid rgba(113, 126, 143, .20);
}

/* main-header */

.main-header {
    padding: 20px;
    border-bottom: 1px solid rgba(113, 126, 143, .20);
}

.logo-header, .txt-header {
    display: inline-block;
    font-size : 15px;
}

.list2 a{
    text-decoration: none;
}

.list2 a:hover {
    text-decoration: underline;
}
.Acces{
    color : rgb(60, 72, 88);
    font-weight: 700;
}

.register{
    color : rgb(60, 72, 88);
}

/* inserisci annuncio btn */
.ins-ann{
    background-color: rgb(254, 236, 235);
    color: red;
    padding:8px 25px;
    display: inline-block;
    font-weight: 700;
    border: 1px solid transparent;
    font-size : 18px;   
}
.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid red;
    border-radius: 25%;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.ins-ann:hover {
    border: 1px solid red ;
    border-radius: 5px;
}

/* end inserisci annuncio */

.list2 li {
    display: inline-block;
    padding: 0 18px;
    text-align: right;
}

.logo-header img {
    width: 250px;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 160px;
}

/* Search bar */

.search-bar{

    width: 900px;
    background-color: #fff;
    border-radius: 4px;
    margin: 70px auto;    
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 5px 5px 5px 5px rgba(0 0 0 / 10%);
}

.sb-bar, .ct-bar, .geo-bar{
    flex-grow: 1;
    padding-right: 25px;

}

.search-bar input {
    width: 100%;
    height: 50px;
}
.search-bar h4 {
    font-size: 14px;
    margin-bottom: 3px;
}

.search-btn img{
    width: 20px;    
}

.btn-bar {
    align-self: flex-end;
}

.search-btn{
    height: 50px;
    width: 70px;
    border: 0;
    background-color: rgb(249, 66, 58);
    border-radius: 5%;
    text-align: center;
}

/* Categories */

.esplora {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 24px;
    text-align: center;
    color: #717E9D;
}
.categories {
    display: flex;
    justify-content: space-around;
}

.categories div{
    width: 100%;
    margin : 0 10px;
    height: 150px;
    border-radius: 10px;
    position: relative;
}

.categories-style img{
    position: absolute;
    top:15%;
    left:50%;
    transform: translate(-50%);
}

.categories-btn{
    position: absolute;
    bottom: 15%;
    left:50%;
    transform: translate(-50%);
    width: 190px;
    padding: 10px 35px;
    border: 1px solid rgba(255, 255, 255, .65);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
}

.categories-btn:hover {
    background-color: rgba(255, 255, 255, .20);
}

.Motori {
    background-color: #2650FF;
}

.Market {
    background-color: #F2A700;
}

.Immobili{
    background-color: #9924FF;
}

.Lavoro {
    background-color: #07BB9C;
}

/* end categories */
/* prova tutto  */

.provatutto{
    margin-top: 48px ;
    display: flex;
    justify-content: center;
    overflow: auto;    
}

.prova-txt{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.prova-txt h2{
    line-height: 28px;
    font-size: 21px;
    color: #3c4858;
    margin-top: 8px;
    display: block;  
}
.prova-txt p {
    line-height: 24px;
    margin-top: 4px;
    font-size: 16px;
    color: #717e8f;
}
.prova-txt a{
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;
    color: red;
    text-decoration: none;
    font-weight: 700;
}

.paga-img, .vendi-img{
    width: 300px;
    height: 216px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-end;
}

.paga-img {
    background-image: url(./img/pay.webp);
    margin-right: 20px;
}

.vendi-img {
    background-image: url(./img/sell.webp);
}

.provatutto-btn {
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9423a;
    color: #fff;
    margin-top: 16px;
    padding: 8px;
    border-radius: 4px;
    margin : 12px 24px;
}
